/* Header.css */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #333;
  color: #fff;
  flex-wrap: wrap;
}

.header-container > h1 {
  margin: 4px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.search-bar input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 250px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

/* Add more styles as needed */
/* UserSearch.css */
.user-suggestions {
  position: absolute;
  top: 36px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
  color: #000;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #ccc;
}

.suggestion-item img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 8px;
}

.input-box {
  position: relative;
}

.loader-icon {
  position: absolute;
  right: 12px;
  top: 6px;
  color: #000;
}
/* Add more styles as needed */

